registry=https://nexus.capitalgroup.ru/repository/npm-release/
//nexus.capitalgroup.ru/repository/npm-capitalgroup/:_auth="ZnJvbnRzOjVkbWxFSnNobU8yVjg="
//nexus.capitalgroup.ru/repository/npm-release/:_auth="ZnJvbnRzOjVkbWxFSnNobU8yVjg="
always-auth=true
